<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leizhang.dao.GoodsMapper"> 
	<select id="selectGoodsByID"  parameterType="String" resultType="cn.leizhang.domain.Goods">
		select * from goods where goodsid=#{goodsid}
	
	</select>
	
	<select id="selectCountGoods"   resultType="int">
		select count(*) from goods 
	</select>
	
	<select id="selectNewGoods"   resultType="cn.leizhang.domain.Goods" >
		select * from goods where goodsid in (select goodsid from newgoods)
	
	</select>
	<select id="selectPromotionGoods"  resultType="cn.leizhang.domain.Goods">
		select * from goods where goodsid in (select goodsid from promotiongoods)
	
	
	</select>
	<select id="selectSpecialGoods"  resultType="cn.leizhang.domain.Goods">
		select * from goods where goodsid in (select goodsid from specialgoods)
	
	
	</select>
	<select id="selectGoodsByPageNumber"  parameterType="int" resultType="cn.leizhang.domain.Goods">
		select * from goods limit #{num},3
	
	</select>
	
</mapper>